<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
 <h1>Home Page</h1>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero eum reprehenderit eos recusandae perspiciatis sequi quae voluptatum omnis laudantium, molestias facere, explicabo earum itaque at! Nam non accusantium in dolor.</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsam quo ducimus quasi doloribus quis eligendi quaerat labore enim, quidem veritatis, id eveniet! Illum nihil vitae, itaque enim assumenda et.</p>

</body>
</html>