<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/comments" method="post">
    <section>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Insert your username">
    </section>
    <section>
      <label for="comment">Comment</label>
      <textarea type="text" id="comment" name="comment" placeholder="Insert placeholder"></textarea>
    </section>
    <button type="submit">Submit</button>
    <a href="/comments">Back to index</a>
  </form>
</body>
</html>